<!--
  Copyright 2026 The Openbot Authors

  Standalone launcher for the Fathom autolink component.

  Runtime search paths:
    AUTOLINK_DAG_PATH  Fathom source or installation root
    AUTOLINK_CONF_PATH Fathom source or installation root
    AUTOLINK_LIB_PATH  Directory containing libfathom_component.so
-->
<autolink>
  <module>
    <name>fathom</name>
    <dag_conf>dag/fathom.dag</dag_conf>
    <process_name>fathom</process_name>
    <exception_handler>respawn</exception_handler>
    <respawn_limit>3</respawn_limit>
  </module>
</autolink>
