BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
Cpp11BracedListStyle: true
IncludeBlocks: Preserve
SortIncludes: true
NamespaceIndentation: None
ReflowComments: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
BinPackArguments: true
BinPackParameters: true
FixNamespaceComments: true

