<!--
  Publishes /robot_description, /joint_states, and /tf for a RobotModel display.
  Fixed frame: map. Description topic: /robot_description.
-->
<autolink>
    <module>
        <name>cartpole</name>
        <type>binary</type>
        <process_name>cartpole_demo</process_name>
        <exception_handler>respawn</exception_handler>
        <respawn_limit>3</respawn_limit>
    </module>
</autolink>
