<!--
  Publishes /robot_description, /joint_states, and /tf. Fixed frame: map.
-->
<autolink>
    <module>
        <name>double_integrator</name>
        <type>binary</type>
        <process_name>double_integrator_demo</process_name>
        <exception_handler>respawn</exception_handler>
        <respawn_limit>3</respawn_limit>
    </module>
</autolink>
