# Standalone autodriver Bazel workspace.

common --enable_bzlmod

build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17
build --copt=-Wall
build --copt=-Wno-unused-parameter

# CMake install/build tree that provides libautolink.so + libautomsgs.so.
build --repo_env=AUTONOMY_PREFIX
test --repo_env=AUTONOMY_PREFIX

test --test_env=LD_LIBRARY_PATH
build --action_env=LD_LIBRARY_PATH

build --incompatible_strict_action_env=false

try-import %workspace%/user.bazelrc
