<!--
  Copyright 2026 The Openbot Authors

  Standalone occupancy grid publisher (requires cartographer_slam publishing submap_list).

  Dev:
    export PATH=$PWD/build/bin:$PATH
    export AUTOLINK_LAUNCH_PATH=$PWD/autonomy/localization/launch
    autolink_launch cartographer_occupancy_grid.launch
-->
<autolink>
    <module>
        <name>cartographer_occupancy_grid</name>
        <type>binary</type>
        <process_name>cartographer_occupancy_grid_node -resolution=0.05 -publish_period_sec=1.0 -include_frozen_submaps=true -include_unfrozen_submaps=true</process_name>
    </module>
</autolink>
