<!--
  Copyright 2026 The Openbot Authors

  Closed-loop exploration stack: planning + control + task + perception.

  Data flow:
    perception --/exploration/waypoint--> task (NavigationGoal)
    perception <--/exploration/waypoint_reached-- task

  Prerequisites:
    - system/conf/exploration.pb.txt
    - task/conf/* (BT XML)
    - PATH: build/bin
    - Optional: AUTONOMY_BT_PLUGIN_PATH=build/lib

  Usage (repo root):
    export PATH=$PWD/build/bin:$PATH
    export AUTOLINK_LAUNCH_PATH=$PWD/autonomy/system/launch
    autolink_launch exploration.launch

  Do not run together with autonomy.launch (overlaps planning/control/task).
-->
<autolink>
  <module>
    <name>monitor</name>
    <type>binary</type>
    <process_name>autonomy.monitor --conf=monitor.pb.txt</process_name>
  </module>
  <module>
    <name>planning</name>
    <type>binary</type>
    <process_name>autonomy.planning --conf=exploration.pb.txt</process_name>
    <exception_handler>respawn</exception_handler>
    <respawn_limit>3</respawn_limit>
  </module>
  <module>
    <name>control</name>
    <type>binary</type>
    <process_name>autonomy.control --conf=exploration.pb.txt</process_name>
    <exception_handler>respawn</exception_handler>
    <respawn_limit>3</respawn_limit>
  </module>
  <module>
    <name>task</name>
    <type>binary</type>
    <process_name>autonomy.task</process_name>
    <exception_handler>respawn</exception_handler>
    <respawn_limit>3</respawn_limit>
  </module>
  <module>
    <name>perception</name>
    <type>binary</type>
    <process_name>autonomy.perception --conf=exploration.pb.txt</process_name>
    <exception_handler>respawn</exception_handler>
    <respawn_limit>3</respawn_limit>
  </module>
</autolink>
